.whiteBackground {
    background-color: #FFFFFF;
}

.grayBackground {
    background-color: #EFEFEF;  
}

.orangeBackground {
    background-color: #FAEBD7;
}

.blueBackground {
    background-color: #02182D;
    color: #FFFFFF;
}