/*
For laptop & desktop
1024px ~ 1440px
*/

.home {
    position: relative;
    height: 93vh;
    max-height: 860px;
}

.img-btn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.logo-gear {
    position: absolute;
    opacity: 0.8;
    width: calc(1200px + 10vh);
    top: 50%;
    left: 50%;
    margin-top: -1000px;
    margin-left: -1500px;
    animation: rotate_img 180s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate_img {
    100% {
        transform: rotate(360deg);
    }
}

.text {
    position: absolute;
    /*background-color: rgba(200, 200, 200, 10);*/
    width: 40%;
    height: 60%;
    top: 15%;
    right: 5%;
    text-align: left;
}

.title {
    margin: 0;
    opacity: 0.7;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 10px;
}

.bio {
    margin: 0;
    font-size: calc(30px + 3vw);
    padding-bottom: 50px;
    border-bottom: #8c8c8c solid 3px;
}

.sign-up {
    cursor: pointer;
    width: 270px;
    height: 60px;
    margin-top: 50px;
    border: 0;
    border-radius: 30px;
    background-color: #FFFFFF;
    color: #1E1E1E;
    font: inherit;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.small-container {
    width: 100%;
    height: 70vh;
}

.big-container {
    width: 100%;
    height: 90vh;
}

.white-background {
    background-color: #FFFFFF;
}

.gray-background {
    background-color: #dcdcdc;
}
