.home {
    height: 90%;
    width: 100%;
}

.logo-gear {
    position: absolute;
    width: 100%;
    text-align: center;
    top: -41vh;
    left: -41vw;
}

#logo-gear-img {
    opacity: 0.5;
    width: 120vh;

    animation: rotate_img 180s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate_img {
    100% {
        transform: rotate(360deg);
    }
}

.logo-meta {
    position: absolute;
    width: 100%;
    top: 10vh;
    text-align: center;
}

#logo-meta-img {
    width: 80vh;
}

.bio {
    position: absolute;
    width: 100%;
    bottom: 20vh;
    text-align: center;
}

.bio-text {
    font-size: 4vh;
    line-height: 8vh;
}

.container {
    position: absolute;
    width: 100%;
    height: 33%;
    bottom: -22%;
    background-color: #000000;
}
