@keyframes rotate_img {
    100% {
        transform: rotate(360deg);
    }
}

.img-btn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.logo-gear {
    position: absolute;
    opacity: 0.8;
    animation: rotate_img 180s linear infinite;
}

.text {
    position: absolute;
    top: 15%;
    right: 5%;
    text-align: left;
}

.title {
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
}

.bio {
    margin: 0;
    border-bottom: #8c8c8c solid 3px;
}

.sign-up {
    position: absolute;
    cursor: pointer;
    bottom: 0;
    border: 0;
    border-radius: 30px;
    background-color: #FFFFFF;
    color: #1E1E1E;
    font-family: 'Do Hyeon', sans-serif;
    font-weight: bold;
    text-align: center;
}
