.contactImage {
    height: 100%;
    margin: 0% 3%;
    filter: invert(79%) sepia(0%) saturate(188%) hue-rotate(295deg) brightness(87%) contrast(84%);
}

.linkedImage:hover {
    text-decoration: none;
}

.linkedImage:active {
    text-decoration: none;
}

#instagram:hover {
    filter: invert(31%) sepia(73%) saturate(6319%) hue-rotate(351deg) brightness(104%) contrast(98%);
}

#instagram:active {
    filter: invert(31%) sepia(73%) saturate(6319%) hue-rotate(351deg) brightness(104%) contrast(98%);
}

#github:hover {
    filter: invert(17%) sepia(21%) saturate(10%) hue-rotate(348deg) brightness(98%) contrast(93%);
}

#github:active {
    filter: invert(17%) sepia(21%) saturate(10%) hue-rotate(348deg) brightness(98%) contrast(93%);
}

#gmail:hover {
    filter: invert(18%) sepia(35%) saturate(6663%) hue-rotate(354deg) brightness(103%) contrast(97%);
}

#gmail:active {
    filter: invert(18%) sepia(35%) saturate(6663%) hue-rotate(354deg) brightness(103%) contrast(97%);
}

#discord:hover {
    filter: invert(76%) sepia(49%) saturate(5483%) hue-rotate(199deg) brightness(90%) contrast(89%);
}

#discord:active {
    filter: invert(76%) sepia(49%) saturate(5483%) hue-rotate(199deg) brightness(90%) contrast(89%);
}