/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: #1E1E1E;
    width: 100%;
    overflow: hidden;
    margin: 0;
    font-family: 'Black Han Sans', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: inherit;
}

a:active {
    text-decoration: underline;
    color: inherit;
}

.home {
    color: #FFFFFF;
    height: 93vh;
    max-height: 1024px;
}

.content {
    color: #000000;
}

