/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap');

body {
    background: #1E1E1E;
    overflow-x:hidden;
    width: 100%;
    margin: 0;
    font-family: 'Black Han Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.home {
    color: #FFFFFF;
    height: 93vh;
    max-height: 1024px;
}

.content {
    color: #000000;
}

.img-btn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

@keyframes rotate_img {
    100% {
        transform: rotate(360deg);
    }
}

/*.wrapperDesktop {*/
/*    display: none;*/
/*}*/

/*@media screen and (min-width: 1024px) {*/
/*    .wrapperMobile {*/
/*        display: none;*/
/*    }*/
/*    .wrapperDesktop {*/
/*        display: block;*/
/*    }*/
/*}*/
