.footer {
    position: relative;
    width: 100%;
    height: 35vh;
    background-color: #1E1E1E;
    color: #FFFFFF
}

.footerContainer {
    /* background-color: aqua; */
    position: absolute;
    display: flex;
    width: 80%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}

.smallBio {
    display: none;
    /* text-align: right;
    font-size: 0.5vw;
    margin-bottom: 1%; */
}

.footerItem {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 3.5%;
    border-bottom: #FFFFFF solid 1px;
    margin-bottom: 6.5%;
}

.logo-meta {
    width: 40%;
    /* height: fit-content; */
}

.contactContainer {
    width: 50%;
    height: 60%;
    text-align: center;
}

.contactImage {
    width: 13%;
    margin: 0% 1%;
    filter: invert(79%) sepia(0%) saturate(188%) hue-rotate(295deg) brightness(87%) contrast(84%);
}

.creditContainer {
    /* background-color: antiquewhite; */
    display: flex;
    width: 100%;
    height: 70%;
}

.creditItem-a {
    width: 30%;
    font-family: 'Do Hyeon', sans-serif;
    font-size: calc(2px + 2vw);
    line-height: calc(3px + 3vw);
    color: #A7A7AC
}

.creditItem-b {
    width: 20%;
    font-family: 'Do Hyeon', sans-serif;
    font-size: calc(2px + 2vw);
    line-height: calc(3px + 3vw);
    color: #A7A7AC
}

#creditTitle {
    font-size: calc(13px + 2vw);
    color: #FFFFFF
}
