.logo-gear {
    position: absolute;
    opacity: 0.8;
    animation: rotate_img 180s linear infinite;
    width: calc(450px + 10vw);
    top: 65%;
    left: 50%;
    margin-left: calc((450px + 10vw) / -2);
}

.text {
    position: absolute;
    top: 10%;
    right: 10%;
    text-align: left;
    width: 80%;
    height: 50%;
    max-height: 600px;
}

.title {
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
    font-size: calc(5px + 3vw);
    padding-bottom: 1%;
}

.bio {
    margin: 0;
    padding-bottom: 30px;
    border-bottom: #8c8c8c solid 3px;
    font-size: calc(30px + 3vw);
}

.eventButton {
    cursor: pointer;
    border: 0;
    border-radius: 30px;
    background-color: #FFFFFF;
    color: #1E1E1E;
    font-family: 'Do Hyeon', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 130px;
    height: 30px;
    margin-top: 50px;
    font-size: 14px;
    line-height: 30px;
}
