.logo-gear {
    position: absolute;
    opacity: 0.8;
    animation: rotate_img 180s linear infinite;
    width: calc(1000px + 10vh);
    top: 50%;
    left: 50%;
    margin-top: -800px;
    margin-left: -1200px;
}

.text {
    position: absolute;
    top: 20%;
    right: 5%;
    text-align: left;
    width: 40%;
    height: 60%;
    max-height: 600px;
}

.title {
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
    font-size: calc(10px + 1.3vw);
    padding-bottom: 1%;
}

.bio {
    margin: 0;
    border-bottom: #8c8c8c solid 3px;
    font-size: calc(20px + 3vw);
    padding-bottom: 50px;
}

.eventButton {
    position: absolute;
    cursor: pointer;
    bottom: 0;
    border: 0;
    border-radius: 30px;
    background-color: #FFFFFF;
    color: #1E1E1E;
    font-family: 'Do Hyeon', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 240px;
    height: 60px;
    margin-top: 50px;
    font-size: 25px;
    line-height: 60px;
}
