.smallContentGrid {
    position: relative;
    width: 100%;
    height: 70vh;
    max-height: 500px;
}

.bigContentGrid {
    position: relative;
    width: 100%;
    height: 90vh;
    max-height: 600px;
}

.contentContainer {
    position: absolute;
    display: flex;
    width: 80%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.imageItem {
    height: 100%;
    /* max-width: 50%; */
    border-radius: 30px;
}

.textContainer {
    display: flex;
    width: 40%;
    flex-direction: column;
    /*background-color: aqua;*/
}

.contentMargin-a {
    margin-left: 5%;
}

.contentMargin-b {
    margin-right: 5%;
}

.titleItem {
    margin: 0;
    font-size: calc(20px + 2vw);
    font-weight: normal;
    line-height: calc(20px + 1.5vw);
}

.contentItem {
    margin-top: 1%;
    font-size: calc(8px + 1vw);
    opacity: 0.7;
    font-family: 'Do Hyeon', sans-serif;
}

D

.blackUnderline {
    padding-bottom: 3%;
    border-bottom: #1E1E1E solid 1px;
    margin-bottom: 3%;
}

.whiteUnderline {
    padding-bottom: 3%;
    border-bottom: #FFFFFF solid 1px;
    margin-bottom: 3%;
}

.linkItem {
    margin-top: 1%;
    font-family: 'Do Hyeon', sans-serif;
    font-size: calc(5px + 1vw);
}

.imageRight {
    flex-direction: row;
}

.imageLeft {
    flex-direction: row-reverse;
}