/*
For laptop & desktop
1024px ~ 1440px
*/

.logo-gear {
    position: absolute;
    opacity: 0.8;
    width: calc(1000px + 10vh);
    top: 50%;
    left: 50%;
    margin-top: -800px;
    margin-left: -1200px;
    animation: rotate_img 180s linear infinite;
}

.text {
    position: absolute;
    /*background-color: rgba(200, 200, 200, 10);*/
    width: 40%;
    height: 60%;
    top: 15%;
    right: 5%;
    text-align: left;
}

.title {
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 10px;
}

.bio {
    margin: 0;
    font-size: calc(20px + 3vw);
    padding-bottom: 50px;
    border-bottom: #8c8c8c solid 3px;
}

.sign-up {
    position: absolute;
    cursor: pointer;
    width: 240px;
    height: 60px;
    bottom: 0;
    margin-top: 50px;
    border: 0;
    border-radius: 30px;
    background-color: #FFFFFF;
    color: #1E1E1E;
    font: inherit;
    font-size: 25px;
    text-align: center;
    line-height: 60px;
    /*box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.7);*/
}
