.footer {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #1E1E1E;
    color: #FFFFFF
}

.footerContainer {
    /* background-color: aqua; */
    position: absolute;
    display: flex;
    width: 90%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* justify-content: space-between; */
    /* align-items: center; */
}

.smallBio {
    text-align: right;
    font-size: 0.85vw;
    margin-bottom: 1.3%;
}

.footerItem {
    width: 25%;
    height: 100%;
    padding-right: 3.5%;
    border-right: #FFFFFF solid 3px;
    margin-right: 6.5%;
}

.logo-meta {
    width: 100%;
    /* background-color:yellow; */
}

.contactContainer {
    margin-top: 7%;
    height: 10%;
    text-align: center;
    /* background-color: blueviolet; */
}

.creditContainer {
    /* background-color: antiquewhite; */
    display: flex;
    width: 60%;
}

.creditItem-a {
    width: 30%;
    font-family: 'Do Hyeon', sans-serif;
    font-size: calc(2px + 1vw);
    line-height: calc(2px + 2vw);
    color: #A7A7AC
}

.creditItem-b {
    width: 20%;
    font-family: 'Do Hyeon', sans-serif;
    font-size: calc(2px + 1vw);
    line-height: calc(2px + 2vw);
    color: #A7A7AC
}

#creditTitle {
    font-size: calc(10px + 2vw);
    color: #FFFFFF
}

.contactImage {
    height: 100%;
    margin: 0% 2%;
    filter: invert(79%) sepia(0%) saturate(188%) hue-rotate(295deg) brightness(87%) contrast(84%);
}
