.logo-gear {
    position: absolute;
    opacity: 0.8;
    animation: rotate_img 180s linear infinite;
    width: calc(1000px + 10vh);
    top: calc(50% - 530px - 5vh);
    left: 50%;
    margin-left: -1150px;
}

.text {
    position: absolute;
    top: 20%;
    right: 5%;
    text-align: left;
    width: 45%;
    height: 35%;
    max-height: 450px;
}

.title {
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
    font-size: calc(13px + 1.3vw);
    padding-bottom: 1%;
}

.bio {
    margin: 0;
    border-bottom: #8c8c8c solid 3px;
    font-size: calc(30px + 3vw);
    padding-bottom: 50px;
}

.eventButton {
    cursor: pointer;
    border: 0;
    border-radius: 30px;
    background-color: #FFFFFF;
    color: #1E1E1E;
    font-family: 'Do Hyeon', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 200px;
    height: 50px;
    margin-top: 50px;
    font-size: 22px;
    line-height: 30px;
}
